Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
max_rating = ratings.query('rating == 5')['movieId'].value_counts().head(1)

movies = pd.read_csv('movies.csv')

title = movies.query(f'movieId == {max_rating.keys()[0]}').iloc[0]['title']

print(f'Фильму "{title}" было поставленно больше всего оценок 5')

Фильму "Shawshank Redemption, The (1994)" было поставленно больше всего оценок 5

Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [37]:
data = pd.read_csv('power.csv')
data = data.query('country in ("Latvia", "Latvia","Estonia") & category in (4, 12, 21) & year >= 2005 & year <= 2010 & quantity > 0')

print(f'Cуммарное потребление стран Прибалтики (Латвия, Литва и Эстония) \nкатегорий 4, 12 и 21 \nза период с 2005 по 2010 года \nравно {data["quantity"].sum()}')

Cуммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
категорий 4, 12 и 21
за период с 2005 по 2010 года
равно 118284.0

Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [45]:
pd.read_html('https://fortrader.org/quotes')[1]

,Type,Last,Chg.,Chg.%,Time
0,ВТБ Акции ОАО ВТБ,0.04191,-0.00017,-0.40399,NaN
1,Газпром Акции газпрома,226.85000,-3.17,-1.38000,NaN
2,Лукоил Акции Лукойл,5285.00000,-142.0,-2.60000,NaN
3,Роснефть Акции Роснефти,422.85000,-6.15,-1.43000,NaN
4,Сбербанк Акции Сбербанка,226.63000,-2.75,-1.20000,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,34.43000,-1.000,-2.82200,NaN
6,Норникель Акции Норникель,16228.00000,-108,-1.00000,NaN
7,Аэрофлот Акции Аерофлота,102.25000,+5.44,5.62000,NaN
8,Северсталь Акции Северсталь,938.20000,-16.0,-1.70000,NaN
9,Транснефть Акции транснефти,150950.00000,-15 350,-9.00000,NaN
10,Ростелеком Курс акций ростелекома,78.58000,+5.75,7.90000,NaN
11,RUSAL акции RUSAL,3.49000,+0.09,2.65000,NaN

In [51]:
pd.read_html('https://radar.yandex.ru/top_list?thematic=government%2Cmilitary')[0]

,Unnamed: 0,"Тематика армия и вооружение, тип все, за 24 августа—22 сентября","Тематика армия и вооружение, тип все, за 24 августа—22 сентября.1",Посетителикросс-девайс,Посетители,Среднее время,Доля пользователейприложения,Дневная аудитория,Данные таблицыXLSXCSV,Unnamed: 9,...,Unnamed: 990,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999
0,NaN,1,Министерство обороны Российской Федерации&nbsp...,от568 000до692 000,от767 000до935 000,—,—,—,Показывать точные значения посещаемостиИзменит...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2,"Военный обозреватель. Библиотека, военная техн...",от314 000до439 000,от402 000до562 000,—,—,—,Показывать точные значения посещаемостиИзменит...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,3,Федеральная служба войск национальной гвардии....,от147 000до194 000,от200 000до264 000,—,—,—,Показывать точные значения посещаемостиИзменит...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,4+1,НачФин.info - сайт военнослужащих министерства...,от115 000до138 000,от156 000до187 000,—,—,—,Показывать точные значения посещаемостиИзменит...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,5−1,Войсковые части Российской ФедерацииПримерная ...,от83 600до156 000,от109 000до204 000,—,—,—,Показывать точные значения посещаемостиИзменит...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,6,Isfic.InfoПримерная оценкаisfic.infoКонтентные...,от67 900до124 000,от88 700до162 000,—,—,—,Показывать точные значения посещаемостиИзменит...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Нет данных,Нет данных,Нет данных,Нет данных,Нет данных,Нет данных,Нет данных,Нет данных,Нет данных,Нет данных,...,Нет данных,Нет данных,Нет данных,Нет данных,Нет данных,Нет данных,Нет данных,Нет данных,Нет данных,Нет данных