Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [4]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
ratings['rating'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [22]:
def classs (x):
    if x <= 2:
        return 'low'
    elif x<=4:
        return 'middle'
    else:
        return 'high'

In [28]:
ratings['class'] = ratings['rating'].apply(classs)
ratings.head()

   userId  movieId  rating  timestamp   class
0       1        1     4.0  964982703  middle
1       1        3     4.0  964981247  middle
2       1        6     4.0  964982224  middle
3       1       47     5.0  964983815    high
4       1       50     5.0  964982931    high

Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [29]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}
geo_data

{'Центр': ['москва', 'тула', 'ярославль'],
 'Северо-Запад': ['петербург', 'псков', 'мурманск'],
 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [30]:
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [31]:
def regions(keyword):
    
    words = keyword.split(' ')
        
    for geo in geo_data:
        for word in words:
            if word in geo_data[geo]:
                return geo
        
    return 'undefined'

In [56]:
keywords['region'] = keywords['keyword'].apply(regions)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [58]:
keywords.query('region != "undefined"').head()

                       keyword   shows          region
127               авито москва  979292           Центр
370   авито ру санкт петербург  425134    Северо-Запад
849            авито ярославль  209581           Центр
1063       фарпост владивосток  176951  Дальний Восток
1236      банк санкт петербург  174375    Северо-Запад

Задание 3

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

    В переменную years запишите список из всех годов с 1950 по 2010.

    Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
        для каждой строки пройдите по всем годам списка years
        если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
        если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

    Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

    Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [74]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')[['movieId', 'rating']]
ratings.head()

   movieId  rating
0       31     2.5
1     1029     3.0
2     1061     3.0
3     1129     2.0
4     1172     4.0

In [75]:
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [76]:
join = ratings.merge (movies, on = 'movieId' , how = 'left')
join.head()

,movieId,rating,title,genres
0,31,2.5,Dangerous Minds (1995),Drama
1,1029,3.0,Dumbo (1941),Animation|Children|Drama|Musical
2,1061,3.0,Sleepers (1996),Thriller
3,1129,2.0,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1172,4.0,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [106]:
years = list(range(1950, 2011))

In [107]:
def production_year (x):
    for year in years:
        if str(year) in x:
            return str(year)
        return '1900'

In [110]:
join ['year'] = join['title'].apply(production_year)
join.head()

,movieId,rating,title,genres,year
0,31,2.5,Dangerous Minds (1995),Drama,1900
1,1029,3.0,Dumbo (1941),Animation|Children|Drama|Musical,1900
2,1061,3.0,Sleepers (1996),Thriller,1900
3,1129,2.0,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,1900
4,1172,4.0,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,1900

In [111]:
join.groupby('year').mean()

           movieId    rating
year
1900  12570.060761  3.542729
1950   3503.427966  3.915254

In [116]:
join.sort_values('rating', ascending =False)

,movieId,rating,title,genres,year
33889,2929,5.0,Reds (1981),Drama|Romance,1900
36867,1233,5.0,"Boot, Das (Boat, The) (1981)",Action|Drama|War,1900
46251,1356,5.0,Star Trek: First Contact (1996),Action|Adventure|Sci-Fi|Thriller,1900
14749,3948,5.0,Meet the Parents (2000),Comedy,1900
14747,3917,5.0,Hellraiser (1987),Horror,1900
63929,2020,5.0,Dangerous Liaisons (1988),Drama|Romance,1900
14741,3793,5.0,X-Men (2000),Action|Adventure|Sci-Fi,1900
77745,1269,5.0,Arsenic and Old Lace (1944),Comedy|Mystery|Thriller,1900
77744,1267,5.0,"Manchurian Candidate, The (1962)",Crime|Thriller|War,1900
14737,3702,5.0,Mad Max (1979),Action|Adventure|Sci-Fi,1900
77742,1265,5.0,Groundhog Day (1993),Comedy|Fantasy|Romance,1900
36869,1237,5.0,"Seventh Seal, The (Sjunde inseglet, Det) (1957)",Drama,1900
14733,3617,5.0,Road Trip (2000),Comedy,1900
14732,3578,5.0,Gladiator (2000),Action|Adventure|Drama,1900
14730,3510,5.0,Frequency (2000),Drama|Thriller,1900
14729,3499,5.0,Misery (1990),Drama|Horror|Thriller,1900
14728,3481,5.0,High Fidelity (2000),Comedy|Drama|Romance,1900
36874,1247,5.0,"Graduate, The (1967)",Comedy|Drama|Romance,1900
77748,1273,5.0,Down by Law (1986),Comedy|Drama|Film-Noir,1900
88494,5013,5.0,Gosford Park (2001),Comedy|Drama|Mystery,1900
46240,589,5.0,Terminator 2: Judgment Day (1991),Action|Sci-Fi,1900
46233,4406,5.0,"Man Who Shot Liberty Valance, The (1962)",Crime|Drama|Western,1900
14772,4369,5.0,"Fast and the Furious, The (2001)",Action|Crime|Thriller,1900
14771,4351,5.0,Point Break (1991),Action|Crime|Thriller,1900
14770,4321,5.0,City Slickers (1991),Comedy|Western,1900
36878,1254,5.0,"Treasure of the Sierra Madre, The (1948)",Action|Adventure|Drama|Western,1900
46238,329,5.0,Star Trek: Generations (1994),Adventure|Drama|Sci-Fi,1900
14764,4140,5.0,North Shore (1987),Drama|Romance,1900
77749,1276,5.0,Cool Hand Luke (1967),Drama,1900
77751,1282,5.0,Fantasia (1940),Animation|Children|Fantasy|Musical,1900
...,...,...,...,...,...
51382,2574,0.5,"Out-of-Towners, The (1999)",Comedy,1900
76676,165,0.5,Die Hard: With a Vengeance (1995),Action|Crime|Thriller,1900
29790,33681,0.5,"Adventures of Sharkboy and Lavagirl 3-D, The (...",Action|Adventure|Children|Fantasy,1900
2538,110553,0.5,The Amazing Spider-Man 2 (2014),Action|Sci-Fi|IMAX,1900
76762,4993,0.5,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,1900
87717,6951,0.5,"Cat in the Hat, The (2003)",Children|Comedy,1900
87726,8985,0.5,Blade: Trinity (2004),Action|Fantasy|Horror|Thriller,1900
2471,98122,0.5,Indie Game: The Movie (2012),Documentary,1900
2472,98154,0.5,Lincoln (2012),Drama|War,1900
2473,98809,0.5,"Hobbit: An Unexpected Journey, The (2012)",Adventure|Fantasy|IMAX,1900
29704,6566,0.5,Spy Kids 3-D: Game Over (2003),Action|Adventure|Children,1900
2482,100083,0.5,Movie 43 (2013),Comedy,1900
29730,7360,0.5,Dawn of the Dead (2004),Action|Drama|Horror|Thriller,1900
2491,101112,0.5,Oz the Great and Powerful (2013),Action|Adventure|Fantasy|IMAX,1900
76773,7361,0.5,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi,1900
2499,102880,0.5,After Earth (2013),Action|Adventure|Sci-Fi|IMAX,1900
2503,103249,0.5,World War Z (2013),Action|Drama|Horror|IMAX,1900
2537,110127,0.5,Noah (2014),Adventure|Drama|IMAX,1900
76751,3798,0.5,What Lies Beneath (2000),Drama|Horror|Mystery,1900
76741,2791,0.5,Airplane! (1980),Comedy,1900
76720,1997,0.5,"Exorcist, The (1973)",Horror|Mystery,1900
2521,107348,0.5,Anchorman 2: The Legend Continues (2013),Comedy,1900
76711,1370,0.5,Die Hard 2 (1990),Action|Adventure|Thriller,1900
2525,108190,0.5,Divergent (2014),Adventure|Romance|Sci-Fi|IMAX,1900
2526,108689,0.5,"I, Frankenstein (2014)",Action|Fantasy|Sci-Fi|IMAX,1900
76709,1258,0.5,"Shining, The (1980)",Horror,1900
2530,109187,0.5,"Zero Theorem, The (2013)",Drama|Fantasy|Sci-Fi,1900
76706,1183,0.5,"English Patient, The (1996)",Drama|Romance|War,1900
76700,1036,0.5,Die Hard (1988),Action|Crime|Thriller,1900
68262,3564,0.5,"Flintstones in Viva Rock Vegas, The (2000)",Children|Comedy,1900